* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
*/
.up{
  text-transform: uppercase;
}

.container {
    max-width: 1280px;
    margin: auto;
}

.container::after {
    clear: both;
    content: '';
    display: table;
}
body{
    font-family: sans-serif;
}
header .right{
background-image: linear-gradient(180deg, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 36%),url('file:///Users/francescobello/Desktop/Bello%20Francesco/proj-html-vuejs/img/slider52x.jpg');
background-repeat: no-repeat;
background-size: cover;
  height: 600px;
  float: right;
  width: 60%;
}
header .left{
  background-color: black;
    height: 600px;
    float: left;
    width: 40%;
    color: white;
}
.left h5 {
  text-transform: uppercase;
  margin-top: 200px;
  margin-left: 70px;
  font-size: 14px;
}
.left h1{
  margin-left: 90px;
  text-transform: uppercase;
  font-size: 50px;
  margin-top: 20px;
}
.left p {
  margin-left: 90px;
  font-size: 18px;
  margin-top: 20px;
}
.left button{
  border-color: white;
  background-color: black;
  color: white;
  padding: 10px 30px;
  margin-left: 120px;
    margin-top: 40px;
}
.mainsx{
  float: left;
  width: 50%;
}
.maindx{
  float: right;
  width: 50%;

}
.mainsx p{
  margin-top: 100px;
  margin-left: 70px;
  font-size: 19px;
}
.mainsx h1{
  margin-top: 45px;
  margin-left: 70px;
  text-transform: uppercase;
  font-size: 50px;
}
.mainsx img{
  height: 80px;
  margin-left: 70px;
  margin-top: 15px;
}
.maindx img{
  width: 400px;
  height: 500px;
  margin-top: 120px;
  margin-right: 10px;
}
.box1{
  width: 300px;
  margin-left: 15px;
  margin-right: 15px;
  float: left;
}
.box2{
  width: 300px;
  margin-left: 15px;
  margin-right: 15px;
  float: left;
}
.box3{
  width: 300px;
  margin-left: 15px;
  margin-right: 15px;
  float: left;
}
.pbox{
  margin-top: 30px;
}
.btn{
    border-color: black;
    background-color: white;
    color: black;
    padding: 10px 30px;
    margin-left: 120px;
      margin-top: 40px;
}



.description{
  background-image: url("file:///Users/francescobello/Desktop/Bello%20Francesco/proj-html-vuejs/img/slider32x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
}
































































.
