* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.up{
  text-transform: uppercase;
}

.container {
    max-width: 1280px;
    margin: auto;
    height: 100%
}

.container::after {
    clear: both;
    content: '';
    display: table;
}
body{
    font-family: sans-serif;
}
header{
  height: 600px;
}
header .right{
background-image: linear-gradient(180deg, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 36%),url("img/slider52x.jpg");
background-repeat: no-repeat;
background-size: cover;
  height: 600px;
  float: right;
  width: 60%;
}
.navbar{
  display: inline-block;
  float: right;
  margin-right: 60px;
  margin-top: 35px;

}
.navbar li{
   display:inline-block;
     font-size: 10px;
     padding-left: 10px;
     padding-right: 10px;
     vertical-align: middle;
}
.navbar li a {
  text-decoration: none;
  color: #bcbcbc;
}
.navbar li a:hover{
  color: white;
}
.navbar li a:active{
  color: white;
}

header .left{
  background-color: black;
    height: 600px;
    float: left;
    width: 40%;
    color: white;
}
.left img{
  float: left;
  width: 130px;
  margin-left: 20px;
  margin-top: 20px;
}
.left h5 {
  text-transform: uppercase;
  margin-top: 200px;
  margin-left: 70px;
  font-size: 14px;
}
.left h1{
  margin-left: 90px;
  text-transform: uppercase;
  font-size: 50px;
  margin-top: 20px;
}
.left p {
  margin-left: 90px;
  margin-right: 30px;
  font-size: 18px;
  margin-top: 20px;
  color: #bcbcbc;

}
.left button{
  border: 0.5px solid white;
  background-color: black;
  color: white;
  padding: 10px 30px;
  margin-left: 120px;
    margin-top: 40px;
}
.left button:hover{
  color: black;
  background-color: white;
}
main{

}

.mainsx{
  float: left;
  width: 50%;
    height: 850px;
}
.maindx{
  float: right;
  width: 50%;
  height: 850px;

}
.mainsx p{
  margin-top: 100px;
  margin-left: 70px;
  font-size: 19px;
}
.mainsx h1{
  margin-top: 45px;
  margin-left: 70px;
  text-transform: uppercase;
  font-size: 50px;
}
.mainsx img{
  height: 80px;
  margin-left: 70px;
  margin-top: 15px;
}
.maindx img{
  width: 400px;
  height: 500px;
  margin-top: 120px;
  margin-right: 10px;
}

.box1{
  width: 300px;

  margin-left: 140px;
  margin-right: 15px;
  display: inline-block;
}
.box2{
  width: 300px;

  margin-left: 15px;
  margin-right: 15px;
  display: inline-block;
}
.box3{
  width: 300px;

  margin-left: 15px;
  margin-right: 15px;
  display: inline-block;
}
.sushi{
  margin-left: 85px;
  margin-bottom: 40px;
}
.pbox{
  margin-top: 30px;
}
.btn{
    border: 0.5px solid #bcbcbc;
    background-color: white;
    color: black;
    padding: 10px 30px;
    margin-top: 40px;
    margin-left: 30px;
}
.btn:hover{
  border-color: black;
}
.description{
  margin-top: 150px;
  color: white;
  height: 700px;
}

.descriptionsx{
  height: 700px;
  width: 60%;
  background-image: url("img/slider32x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  float: left;

}
.descriptiondx{
  height: 700px;
  width: 40%;
  background-color: black;
  float: right;
}
.descriptiondx h5{
  color: #bcbcbc;
  font-size: 14px;
  margin-top: 150px;
  margin-left: 100px;
}
.descriptiondx h1{
  font-size: 50px;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
}
.descriptiondx p{
  color: #bcbcbc;
  font-size: 18px;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 50px;
}
.descriptiondx button{
  border: 0.5px solid white;
  background-color: black;
  color: white;
  padding: 10px 30px;
  margin-left: 100px;
    margin-top: 40px;
}
.descriptiondx button:hover{
  color: black;
  background-color: white;
}

.reviews{
  width: 100%;
  height: 100%;
}
.lora{
  font-family: Lora;
  text-align: center;
  vertical-align: middle;
  padding-top: 50px;
  color: black;
}

.review1 {
  height: 550px;
  width: 80%;
  margin-left: 11%;
  margin-right: 10%;
  margin-top: 100px;
  background-image: url("img/hover-card1.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
}
.review1 img{
  width: 100%;
}

.review2{
  height: 550px;
  margin-left: 12%;
  width: 37%;
  display: inline-block;
  background-image: url("img/info52x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.review3{
  height: 550px;
  margin-right: 12%;
  width: 37%;
  float: right;
  display: inline-block;
  background-image: url("img/info12x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}









.reviews h5{
  color: #bcbcbc;
  margin-left: 80px;
  margin-top: 80px;
  font-size: 14px;
}
.journal{
  color: white;
  margin-left: 80px;
  margin-top: 30px;
}
.reviews .fa-star{
  color: white;
  margin-top: 50px;
}
.str{
  margin-left: 80px;
}
.reviews p{
  color: white;
  margin-left: 80px;
  margin-right: 50px;
  margin-top: 40px;
  font-size: 18px;
}
.reviews button{
  border: 0.5px solid white;
  background-color: Transparent;
    background-repeat:no-repeat;
  color: white;
  padding: 10px 30px;
  margin-left: 80px;
  margin-top: 40px;
}
.reviews button:hover{
  background-color: black;
  border-color: black;
}

.dishes{
  margin-top: 70px;
  width: 100%;
  height: 300px;
  background-image: url("img/page52x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.price {
  padding-top: 270px;
  text-align:center;
  text-decoration: none;
}


.price a{
  text-decoration: none;
  color: white;
}

.info{
  height: 600px;
  width:80%;
  margin-left: 10%;
  margin-right: 10%;
  background-image: url("img/hover-card2.png");
  background-repeat: no-repeat;
  background-size: cover;

}

.delivery{
  height: 650px;
  width: 100%;
  margin-top: 80px;

}
.delivery img{
  float: left;
  width: 60%;
  height: 100%;
}
.delivery-info{
  width: 40%;
  background-color: black;
  float: right;
  height: 650px;
}
.delivery h5{
  color: #bcbcbc;
  margin-left: 80px;
  margin-top: 100px;
  font-size: 14px;
}
.delivery h1{
  font-size: 50px;
  margin-top: 40px;
  color: white;
  margin-left: 80px;
  margin-right: 50px;
}
.delivery p{
  color: #bcbcbc;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 40px;
  font-size: 18px;

}

.delivery  button{
  border: 0.5px solid white;
  background-color: black;
  color: white;
  padding: 10px 30px;
  margin-left: 80px;
    margin-top: 60px;
}

.delivery  button:hover{
  color: black;
  background-color: white;
}

 .menu{
   height: 900px;
   width: 100%;
   margin-top: 10px;
 }
.starter{
  margin-left: 5%;
  width: 30%;
  height: 840px;
  background-color: #e8e8e8;
  display: inline-block;
/*  margin-bottom: 100px;
*/padding-top: 50px;
}
.main{
  color: white;
  width: 30%;
  height: 840px;
  background-color: orange;
  display: inline-block;
  background-image: linear-gradient(rgb(3, 3, 3) 27%, rgba(3, 3, 3, 0.2) 100%), url("img/misc22x.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
/*  margin-bottom: 150px;
*/ padding-top: 20px;
}
.dessert{
  width: 30%;
  height: 850px;
/*  margin-bottom: 50px;
  */padding-top: 50px;
  margin-right: 3%;
  background-color: #e8e8e8;
  display: inline-block;
}
.menu h1 {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
}
.plate{
  margin-left: 20px;
  margin-right: 30px;
  margin-top: 40px;
  font-size: 25px;
  display: inline-block;
}
.prices{
  display: inline-block;
  font-size: 15px;

}

.ingredient{
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  font-size: 18px;
}

.braised-abalone{
  margin-top: 40px;
  width: 100%;
  height: 700px;
  background-image: url("img/hero42x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.braisedBox{
  width: 350px;
  height: 80%;
  padding-top: 80px;
  margin-left: 80px;
  background-color: black;
}

.braisedBox h1{
  margin-top: 30px;
  font-size: 40px;
  margin-left: 50px;
  color: white;
  display: inline-block;
}
.braisedBox h6{
  color: #bcbcbc;
  display: inline-block;
  margin-left: 300px;
}
.braisedBox p{
  color: #bcbcbc;
  margin-top: 80px;
  margin-left: 50px;
  margin-right: 30px;
  font-size: 18px;
}


.braisedBox button{
  border: 0.5px solid white;
  background-color: black;
  color: white;
  padding: 10px 30px;
  margin-left: 50px;
  margin-top: 40px;
}

.braisedBox  button:hover{
  color: black;
  background-color: white;
}
.restaurant-info{
  margin-top: 50px;
  width: 100%;
  height: 700px;
  background-image: url("img/footer2x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.logo{
  height: 300px;
  width: 300px;

  margin-left: 40%;
}
.logo img{
  width: 100%;
  margin-top: 200px;
}
.restaurant-info p {
  text-align: center;
  color: white;
  font-size: 18px;
  margin-top: 30px;
}
.social{
  margin-top: 190px;
 height: 35px;
  width: 30%;
 margin-left: 45%;
  display: inline-block;
}
.fb{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: white;
  display: inline-block;
  padding: 20px 20px;
  color: black;
  text-decoration: none;
}
.tw{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: white;
  padding: 20px 20px;
  color: black;
  text-decoration: none;
    display: inline-block;
}
.ig{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: white;
  padding: 20px 20px;
  color: black;
  text-decoration: none;
    display: inline-block;
}
.yt{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: white;
  padding: 20px 20px;
  color: black;
  text-decoration: none;
    display: inline-block;
}
.lk{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: white;
  padding: 20px 20px;
  display: inline-block;
  text-align: center;

}
.social a i{
  color: black;
  text-decoration: none;
  font-size: 27px;
  text-align: center;


}
.fb:hover, .tw:hover, .yt:hover, .ig:hover, .lk:hover{
  background-color: #46494a;
}
/*.fb .tw .ig .yt .in {
  display: inline-block;

margin-top: 400px;
text-decoration: none;
color: black;


}
*/
footer{
  background-color: black;
  text-align: center;
  height: 100px;
  width: 100%;
  color: white;

}
footer ul{
  display: inline-block;
}
footer li{
  display: inline-block;
   font-size: 13px;
   margin-top: 50px;
   vertical-align: middle;
}
